.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-header {
    color: #ff8d09;
    font-family: Righteous;
    font-size: 50px;
    float: left;
    width: 50%;
}

.user-cards {
    padding: 20px;
}

body {
    background-color: transparent;
}

.navstyle {
    margin-top: 4%;
    width: fit-content;
    float: right;
    z-index: 1000;
}

.bg-dark {
    background-color: #ff8d09 !important;
    border-radius: 15px;
}

a.bg-dark:hover {
    background-color: #F8bc24 !important;
    text-decoration: none;
}

a.bg-dark:focus {
    background-color: #F8bc24 !important;
}

.card {
    text-align: center;
    margin: 10px;
    vertical-align: top;
    width: 15rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 6%), 0 6px 20px 0 rgb(0 0 0 / 5%);
}

.carddeck {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.homeheader {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #266867;
    font-size: xxx-large;
    font-variant-caps: all-petite-caps;
    padding-bottom: 30px;
    padding-top: 80px;
}

.headerimage {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    border-radius: 2%;
    opacity: 90%;
}

.headerimagecontainer {
    position: relative;
    text-align: center;
    color: white;
    z-index: 0;
}

.headerimagetext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
  }

.btn-danger {
    color: #fff;
    background-color: #ff6409;
    border-color: #ff6409;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    color: #fff;
    background-color: #e15300;
    border-color: #e15300;
}

.btn-primary {
    color: #fff;
    background-color: #40b0ae;
    border-color: #40b0ae;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #369392;
    border-color: #369392;
}

.loginfields {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.loginlabels {
    color: #1a6465;
    font-weight: bold;
}

.createaccounttext {
    color: #163b3b;
    font-size: medium;
    font-weight: bold;
    padding-top: 50px;
}

.createaccountbtn {
    margin-left: 15px;
    font-size: smaller;
    background-color: #f8bc24;
    height: 2rem;
}

.yellowbtn {
    background-color: #f8bc24;
    border-color: #da9e07;
}

.yellowbtn:active, .yellowbtn:hover, .yellowbtn:target, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #da9e07;
    border-color: #da9e07;
}

.submitbtn {
    margin-left: 4%;
    background-color: #047472;
}

.mytable {
    background-color:rgb(255,255,255, .7);
    /* box-shadow: 0 1px 30px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 2%); */
}